@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito:200i,300,400&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Nunito:200i,300,400&display=swap'); */

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
